<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">
      404 Page Not Found
    </h1>
  </div>
  <div class="text-center kitty">
    <a href="/">
      <img src="./img/404.jpg" alt="404 kitty">
      <div>
        Back Home
      </div>
    </a>
  </div>
</div>