<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">
      500 Internal Server Error
    </h1>
  </div>
  <a href="/">
    <img src="/public/img/500.jpg" alt="500 kitty">
    Back Home
  </a>
</div>