<script src="https://kit.fontawesome.com/8d6ae247e3.js" crossorigin="anonymous"></script>
<div class="container home">
  <div class="row">
    <div class="col col-lg-12">
      <div class="jumbotron text-center">
        <h1>Home</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 addTask">
          <h2>
            <i class="fas fa-folder-plus"></i>
            <br />
            <br />
            Add Task
          </h2>
        </button>
      </div>
    </div>

    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 editTask">
          <h2>
            <i class="fas fa-edit"></i>
            <br />
            <br />
            Edit Task
          </h2>
        </button>
      </div>
    </div>

    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 listTask">
          <h2>
            <i class="fas fa-list-alt"></i>

            <br />
            <br />
            List Tasks
          </h2>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 addUser">
          <h2>
            <i class="fas fa-user-plus"></i>
            <br />
            <br />
            Add User
          </h2>
        </button>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 editUser">
          <h2>
            <i class="fas fa-user-edit"></i>
            <br />
            <br />
            Edit Users
          </h2>
        </button>
      </div>
    </div>
    <div class="col col-lg-4">
      <div class="card">
        <button class="btn btn-outline-secondary btn-lg btn-block p-5 listUser">
          <h2>
            <i class="fas fa-list-alt"></i>
            <br />
            <br />
            List Users
          </h2>
        </button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/public/js/home.js"></script>