<div class="container editTask">
  <div class="row">
    <div class="col col-lg-12">
      <div class="jumbotron text-center">
        <h1>List All Tasks</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Task</th>
            <th scope="col">Frequency</th>
            <th scope="col">Owner</th>

          </tr>
        </thead>
        <tbody>
          <!-- TODO: All of this will be pulled from the database and dynamically populated -->
          <tr>
            <td>1</th>
            <td>Cut down the trees</td>
            <td>Annual</td>
            <td>Otto</td>

          </tr>
          <tr>
            <td>2</th>
            <td>Change HVAC filters</td>
            <td>Quarterly</td>
            <td>Anna</td>

          </tr>
          <tr>
            <td>3</th>
            <td>Clean eaves out</td>
            <td>Bi-Annual</td>
            <td>Otto</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>